[Unit]
Description=Run Matomo archive periodically (%i)

[Timer]
OnActiveSec=10min
OnUnitActiveSec=30min
Unit=matomo-archive@%i.service

[Install]
WantedBy=timers.target
